@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  body {
  background-image: url("./assets/great.png");
  font-family: 'Aref Ruqaa', serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

}

h1{
  color: white;
  font-size: 3rem;
  margin-bottom: 4rem;
}


#container{
  background-color: rgba(255, 255, 255, 0.8);
  height: max-content;
  width: 25vw;
  border: 0px solid #ffffff;
  border-radius: 10px;
  padding: 1.5rem;
  position: relative;
}

label{

  color: #1f1f5b;
  font-weight: bold;

}

input {
  width: 100%;
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 0.25rem;
  margin-bottom: 0.65rem;
}

#phone {
  margin-bottom: 0;
}

#imgDiv {
  background: url() no-repeat center;
  background-size: cover;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 138px;
  right: 2.2rem;
  border-radius: 3px;
}


button {
  background-color: #30307e;
  font-weight: bold;
  width: 100%;
  color: white;
  margin-top: 1rem;
  padding: 0.5rem 0.7rem;
  border: 0;
  border-radius: 5px;
}

button:active{
    transform: scale(0.95);
}
    
@media only screen and (max-width: 600px) {
  #container {
    width: 65vw;
    height: max-content;
  }
}
#container{
   transform-origin: 10px 10px;
    top: -650px;
    animation: drop 1s ease forwards, swing 2.5s 3s ease-in forwards ;
}

#autoComplete { 
  cursor: pointer;
  border: 1px dotted #ccc;
  padding: 0px 5px;
  background: rgba(255, 255, 255, 0.8);
}
#autoComplete ul {
  list-style-type: none;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
#autoComplete ul li {
  padding: 5px 0;
}
#autoComplete ul li:hover {
  background: #95aaea;
}
@keyframes drop{
    0%{opacity: 0;}
    70%{transform: translateY(700px);}
    100%{transform: translateY(600px); opacity: 1;}
}

.invalid, .error_msg {
  color: red;
  display: none;
}

